{% extends "base.html" %}
{% block content %}
<div class="text-center py-5">
    <h1 class="display-5 fw-bold">Personalized Healthcare Portal</h1>
    <p class="lead">Connect with top hospitals, manage your records, or manage your hospital.</p>
    <div class="mt-4">
        <a href="https://savix-health-app-api.onrender.com/login?redirect=https://savix-hospital-api-7qqi.onrender.com/sso" class="btn btn-primary btn-lg px-4 me-2"><i class="bi bi-person-fill"></i> Patient Login</a>
        <a href="{{ url_for('hospital_login') }}" class="btn btn-outline-primary btn-lg px-4"><i class="bi bi-building"></i> Hospital Portal</a>
    </div>
</div>
{% endblock %}
